.price{
    margin: 50px;
    position: relative;
}
.price input{
  
   border: 2px #EEEE solid ;
   height: 60px;
   border-radius: 10px;
   font-size:  32px;
   line-height: 32px;
   font-weight: 400;
   width: auto;
   resize: horizontal;

}
.price label{
    position: absolute;
    transition: all 200ms;
    top:10px;
    left:20px;
    font-size: 32px;
    box-sizing: content-box;

}
.price input:focus+label, 
.price input:not(:placeholder-shown)+ label{
    top:-13px;
    left: 20px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    border-color: #EEEE;

}