body{
    max-width: 1440px;
    height: auto;
    margin: 0;
   background:  #FFFFFF; 

}
.excursions{
    display: flex;
    flex-direction: column;
    width: 1106px;
    height: auto;
    margin: 67px 150px 0 184px;
    gap: 60px;

}
.excursions__excurs{
    display:flex;
    flex-direction: row;
    width: 1106px;
    height: auto;
    border: 0.5px solid #8E8E8E;
    border-radius: 15px;
    box-sizing: border-box;
    
}


.excursions__excurs-photo{
    display: flex;
    width: 473px;
    height: auto;
    border-radius: 16px 0px 0px 16px;
    position: relative;
}
.excursions__excurs-status{
    position: absolute;
    width: 154px;
height: 42px;
top: 58px;
background: #099CE8;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
text-align: center;
line-height: 42px;
}

.status1{
    background: #FFD83B;
    color: #323232;
}

.excursions__information{
    display: flex;
    flex-direction: column;
    width: 631px;
    height: auto;
    border-radius: 0 16px 16px 0;
    padding: 16px 17px 26px 23px;

}
.excursions__information-name{
    width: auto;
    height: 70px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 34px;
}
.excursions__information-time{
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    
    
}
.excursions__information-line{
    display: flex;
    position: relative;
    left: 6px;
    top: 3px;
}

.excursions__information-clock{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 15px;
    margin-top:11px;
}
.excursions__information-duration{
  width: auto;
  height: auto;
  display: flex;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9E9E9E;

}
.excursions__information-option{
    padding-top: 11px;
}
ul{
    padding-left: 22px;
    margin: 0;
    list-style-image: url(../picturies/mark.svg);
}
li{
    
    margin-bottom: 11px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
color: #343434;
}
li:last-child{
    margin-bottom: 0;
}

.btn{ 
    width: 73px;
    height: 28px;
    background: #C5DCFF;
   border-radius: 11px;
   border: none;
   text-align: center;
   line-height: 28px;
}

.btn:focus{
    background: #6BA6FF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
color: #FFFFFF;
}
.btn1{
    display: none;
}


.excursions__information-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 78px;
    margin-top: 35px;
}
.excursions__information-price-all{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
.excursions__information-price-1{
    display: flex;
    width: 129px;
    height: 28px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 20px;
}
.excursions__information-price-2{
    width: auto;
    height: 23px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

}
.excursions__information-btn{
    width: 187px;
    height: 52px;
    background: #FFD83C;
    border-radius: 23px;
    border: none;
    color: #292929;

}
