@media (max-width:375px){ 
    .excursions{
        width: 341px;
        margin: 26px 17px 26px 17px;

    }
    .excursions__excurs{
       flex-direction: column;
       width: 341px;

    }
    .excursions__excurs-photo{
        width: 341px;
        height: 220px;
    }
    .photo{
        width: 341px;
        height: 220px;
        border-radius: 16px 16px 16px 16px;
  
    }
    .excursions__information{
        width: auto;
        padding: 0 12px 0 12px;
    }
    .excursions__information-name{
        width: auto;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        height: auto;
    }

    .excursions__information-price-1{
        font-weight: 400;
font-size: 30px;
line-height: 20px;
    }
    
    .excursions__information-price-2{
        font-weight: 400;
font-size: 10px;
line-height: 20px;
    }
    .excursions__information-btn{
        width: 165px;
       height: 44px;
       font-size: 14px;
       font-weight: 400;
    }

    .btn{ display: none;}
    
    .btns{ margin: 7px 0 0 22px;}
    .btn1{
    display: inline-block;

    width: 63px;
    height: 24px;
    background: #C5DCFF;
   border-radius: 11px;
   border: none;
   text-align: center;
   line-height: 24px;
   font-weight: 400;
font-size: 14px;
    }
.btn1:focus{
    background: #6BA6FF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
color: #FFFFFF;

}
li{
    font-size: 14px;
}
.photo1{
    width: 220px;
    height: 341px;
    rotate: 100grad;
    transform: translate(-62px, -60px);
}

.excursions__excurs-status{
    font-size: 14px;
}

}
