body{
    min-width: 1280px;
 margin: 0;
    font-family: sans-serif;

} 
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    width: 1280px;
    height: 480px;
    background-color: beige;

}

.tabs-items{
    display: flex;
    height: 60px;

}
.tabs-items li{
    display: flex;
    list-style: none;
    height: 60px;
    align-items: center;
    justify-content: center;

}

.tabs-items li:hover{
    background-color: #EEEEEE;
}
.tabs-items li:target{
    background-color: #EEEEEE;
}
.tabs-items li a{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

}
.tabs-text{
    padding: 20px;
    display: none;
    background-color: #EEEEEE;  
    min-height: 650px;
}
.tabs-text:target{
    display: inline-block;
  
    
}
.tabs-items li:active{
   background-color: #EEEEEE;
}
.sidebar{
   
    display: flex;
    flex-direction: column;
    top: 260px;
    left: 913px;
    position: absolute;
    width: 350px;
    height: 970px;
}
.tab-content{
 width: 913px;
 height: auto;
}


.sidebar_1{
    width: 350px;
    height: 200px;
    background-color: yellow;
    border-radius: 8px 8px 0 0 ;
}
.sidebar_2{
    width: 350px;
    height: 40px;
    background-color: #B0AFAF;
}
.sidebar_3{
    width: 350px;
    height: 730px;
    background-color: white;
}

.information{
    display: flex;
    flex-direction: column;
}


.about-delivery{
    
    height: 409px;
    width: 1280px;
    background: #FFFBD2;
    flex-direction: column; 
    display: none;
    
}

#link2:checked ~ .about-delivery{
    display: block;
}

.about-delivery__text{
    display: flex;
    gap: 50px;
    padding: 0 20px;
}
.about-delivery__name{
    padding: 50px 20px;
}
.color{
    background-color: white;
}

.footer{
    display: flex;
    width: 1280px;
    height: 40px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.more-product{
    display: flex;
    height: 409px;
    width: 1280px;
  
    flex-direction: column; 
   
}

.blok1{
    width: 400px;
    height: 200px;
    background-color: #EEEEEE;
}


