body{
    font-family: sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px ;
    padding: 10px;
    gap: 15px;
}
.calculator__name{
 display: flex;
 align-items: center;
 justify-content: center;
 font-weight: 700;
}

#ret{
    display: none;
}